.word-test-progress {
  margin-top: 20px;
}

.progress-bar {
  display: flex;
  height: 20px;
  border: 1px solid #ccc;
}

.progress-bar-green {
  background-color: green;
}

.progress-bar-yellow {
  background-color: yellow;
}

.progress-info {
  margin-top: 10px;
}

.progress-info p {
  margin: 5px 0;
}
