.wrap ol {
    list-style-position: inside;
    -moz-column-count: 2; /* Firefox */
    -webkit-column-count: 2; /* Safari and Chrome */
    column-count: 2;
    list-style-type: decimal;
    height: 50px;
  }

.red-color {
    background-color: red;
}  

.green-color {
    background-color: green;
}

.wrap li:hover {
    cursor: pointer;
}